html {
	box-sizing: border-box;
}

*,
*::after,
*::before {
	box-sizing: inherit;
	margin: 0;
	padding: 0;
}
html,
body {
	height: 100%;
}
ul {
	list-style: none;
}
a {
	text-decoration: none;
	color: inherit;
}
.section-title {
	margin-bottom: 50px;
	font-size: 48px;
	font-weight: 700;
	text-align: center;
}
.wrapper {
	min-height: 100%;
	display: flex;
	flex-direction: column;
}
.container {
	max-width: 1220px;
	margin: 0 auto;
	padding: 0 10px;
}
body {
	font-family: "Inter", sans-serif;
	font-size: 16px;
	font-weight: 400;
	line-height: 1.3;
}
.header {
	background: #151515;
}
.header-main {
	background-color: transparent;
	position: absolute;
	z-index: 10;
	left: 0;
	right: 0;
}

.header__inner {
	padding-top: 40px;
	padding-bottom: 45px;
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
}

.menu__list {
	display: flex;
	gap: 35px;
}

.menu__list-link {
	color: #ffffff;
	text-transform: uppercase;
	font-weight: 700;
	transition: color 0.3s;
}
.menu__list-link:hover {
	color: #0066ff;
}
.menu__list-link--active {
	color: #0066ff;
}

.footer {
	background: #151515;
	padding: 50px 0 32px;
	color: #fff;
}
.footer__menu-list {
	max-width: 250px;
}
.footer__menu {
	display: flex;
	justify-content: space-around;
	margin-bottom: 50px;
}

.footer__menu-title {
	font-size: 24px;
	font-weight: 700;
	padding-bottom: 20px;
}

.footer__menu-item + .footer__menu-item {
	padding-top: 20px;
}
.footer__menu-link {
	transition: color 0.3s;
}
.footer__menu-link:hover {
	color: #0066ff;
}
.app {
	display: flex;
	justify-content: center;
	gap: 40px;
	margin-bottom: 52px;
}

.footer__copy {
	max-width: 806px;
	margin: 0 auto 30px;
	text-align: center;
}

.copy__nav-list {
	display: flex;
	gap: 40px;
	justify-content: center;
}
.copy__nav-link {
	transform: color 0.3s;
}
.copy__nav-link:hover {
	color: #0066ff;
}
.main {
	flex-grow: 1;
}

.top {
	color: #fff;
	text-align: center;
	padding-top: 250px;
	padding-bottom: 50px;
	position: absolute;
	z-index: 5;
	left: 0;
	right: 0;
}

.title {git
	padding-bottom: 40px;
	font-size: 96px;
	font-weight: 700;
}

.top__link {
	background-color: #151515;
	padding: 23px;
	width: 100%;
	max-width: 430px;
	display: inline-block;
	text-transform: uppercase;
	font-size: 36px;
	font-weight: 700;
}
.btn {
	transition: all 0.2s ease-in-out;
}

.btn:hover {
	transform: scale(1.1);
	background-color: #151515bf;
}

.swiper::after {
	content: "";
	background-color: rgba(21, 21, 21, 0.3);
	position: absolute;
	z-index: 5;
	left: 0;
	right: 0;
	bottom: 0;
	top: 0;
}

.swiper-slide {
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
	height: 100vh;
}

.swiper-pagination-bullet {
	width: 120px;
	height: 3px;
	border-radius: 0;
	background-color: #151515;
	opacity: 1;
}

.swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
	margin: 0 15px;
}

.swiper-pagination-bullets.swiper-pagination-horizontal {
	bottom: 50px;
}

.swiper-pagination-bullet-active {
	height: 6px;
	background-color: #fff;
}

.why-lease {
	padding: 150px 0;
}
.why-lease__list {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	gap: 40px;
	text-align: center;
}

.why-lease__item-img {
	margin-bottom: 30px;
}

.why-lease__title {
	margin-bottom: 30px;
	font-size: 24px;
	font-weight: 700;
}

.why-lease__text {
	text-align: left;
}
.how-does {
	padding-bottom: 150px;
}
.how-does__inner {
	max-width: 600px;
	margin: 0 auto;
}

.how__does-title {
	font-size: 24px;
	font-weight: 700;
	padding-top: 50px;
}
.how__does-list {
	padding: 50px 0 70px;
	counter-reset: myCounter;
}
.how__does-item {
	list-style-type: none;
	width: 270px;
	position: relative;
	margin-left: auto;
	padding-left: 240px;
	box-sizing: content-box;
	padding: 19px 0 19px 240px;
	min-height: 63px;
}

.how__does-item + .how__does-item {
	margin-top: 40px;
}

.how__does-item::before {
	position: absolute;
	counter-increment: myCounter;
	content: counter(myCounter);
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #0066ff;
	font-size: 48px;
	font-weight: 700;
	width: 100px;
	height: 100px;
	border-radius: 50%;
	color: #fff;
	left: 0;
	top: 0;
}

.video {
	padding-bottom: 150px;
}
.video__title {
	margin-bottom: 20px;
}

.video__text {
	font-size: 24px;
	font-weight: 700;
	margin-bottom: 50px;
	text-align: center;
}
.video__content {
	margin: 0 auto;
	display: block;
}

.important {
	padding-bottom: 150px;
}

.important__title {
	margin-bottom: 20px;
}

.important__text {
	max-width: 580px;
	margin: 0 auto 50px;
}

.important__list {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
}

.important__item {
	gap: 40px;
}

.contacts {
	padding: 100px 0 150px;
}
.contacts__title {
	margin-bottom: 20px;
}

.contacts__text {
	font-size: 24px;
	font-weight: 700;
	text-align-last: center;
	margin-bottom: 50px;
	padding: 0 100px;
}

.form {
	max-width: 580px;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

.form__textarea {
	width: 100%;
}

.form__input {
	width: 270px;
	padding: 18px 20px;
	display: inline-block;
	border: 1px solid #0066ff;
	margin-bottom: 50px;
	color: #000;
	font-family: "Inter", sans-serif;
	font-size: 16px;
	font-weight: 400;
	line-height: 1.3;
}
.form__input::placeholder,
.form__textarea::placeholder {
	color: #000;
	font-family: "Inter", sans-serif;
	font-size: 16px;
	font-weight: 400;
	line-height: 1.3;
	opacity: 0.5;
}
.form__textarea {
	resize: none;
	width: 100%;
	padding: 28px 20px;
	height: 290px;
	border: 1px solid #0066ff;
	color: #000;
	font-family: "Inter", sans-serif;
	font-size: 16px;
	font-weight: 400;
	line-height: 1.3;
	margin-bottom: 50px;
}

.form__btn {
	text-transform: uppercase;
	background-color: #151515;
	font-family: "Inter", sans-serif;
	font-size: 16px;
	font-weight: 400;
	line-height: 1.3;
	padding: 13px 61px;
	margin: 0 auto;
	color: #fff;
	border: 0;
}

.blog {
	padding-bottom: 150px;
}

.blog__items {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: 40px;
	margin-bottom: 70px;
}
.blog__item {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

.blog__item-img {
	margin-bottom: 30px;
	width: 100%;
}

.blog__item-title {
	flex-basis: 446px;
	font-size: 24px;
	font-weight: 700;
}

.blog__item-link {
	color: #fff;
	background-color: #0066ff;
	padding: 4px 20px;
	transition: background-color 0.3s;
}
.blog__item-link:hover {
	background-color: #0066ff2e;
	color: #0066ff;
	border: 1px solid #0066ff;
}
.showmore-link {
	text-transform: uppercase;
	padding: 13px;
	color: #fff;
	background-color: #151515;
	width: 225px;
	margin: 0 auto;
	text-align: center;
	display: block;
}

.choose {
	padding-top: 100px;
	padding-bottom: 150px;
}
.tabs {
	margin-bottom: 70px;
}
.tabs__btn {
	padding: 0 150px 100px;
	display: flex;
	justify-content: space-between;
	gap: 80px;
}

.tabs__btn-item {
	font-size: 24px;
	font-weight: 700;
	cursor: pointer;
	border: none;
	background-color: transparent;
	padding: 0;
}

.tabs__btn-item--active {
	color: #0066ff;
}

.tabs__content-item {
	display: none;
	grid-template-columns: repeat(4, 1fr);
	gap: 100px 40px;
}

.tabs__content-item.tabs__content-item--active {
	display: grid;
}

.card {
	text-align: center;
}
.card__content {
	padding: 0 5px;
	border: 1px solid #0066ff;
	border-top: 0;
}
.card-img {
	display: block;
}
.card-title {
	font-size: 24px;
	font-weight: 700;
	margin-bottom: 20px;
	padding-top: 20px;
}
.card-text {
	margin-bottom: 20px;
}
.card-price {
	margin-bottom: 20px;
	font-weight: 700;
	font-size: 24px;
}

.card-link {
	display: block;
	color: #0066ff;
	border: 1px solid #0066ff;
	border-top: 0;
}

.menu__btn {
	width: 30px;
	height: 30px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	padding: 0;
	border: none;
	background-color: transparent;
	display: none;
}
.menu__btn span {
	height: 2px;
	background-color: #fff;
	width: 100%;
}
.card-img {
	width: 100%;
}
@media (max-width: 1180px) {
	.important__list {
		gap: 30px 20px;
	}
	.important__item-img {
		width: 100%;
	}
	.tabs__content-item {
		grid-template-columns: repeat(3, 1fr);
	}
}
@media (max-width: 1040px) {
	.video__content {
		width: 100%;
	}
	.tabs__btn {
		padding: 0 0 50px;
		gap: 20px;
	}
}
@media (max-width: 860px) {
	.menu__btn {
		display: flex;
	}
	.menu__btn,
	.logo {
		position: relative;
		z-index: 10;
	}
	.menu__list {
		position: absolute;
		background-color: #151515;
		flex-direction: column;
		height: 100vh;
		padding-top: 200px;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		align-items: center;
		z-index: 5;
		transform: translateY(-100%);
		transition: transform 0.3s;
	}
	.menu__list.menu__list--active {
		transform: translateY(0%);
	}
	.why-lease__list {
		gap: 20px;
	}

	.important__list,
	.why-lease__list {
		grid-template-columns: repeat(2, 1fr);
	}
	.tabs__content-item {
		grid-template-columns: repeat(2, 1fr);
	}
}

@media (max-width: 768px) {
	.title {
		font-size: 70px;
	}
	.swiper-pagination-bullet {
		width: 60px;
	}
	.swiper-pagination-bullet-active {
		height: 4px;
	}
	.top__link {
		max-width: 360px;
		font-size: 28px;
		padding: 16px;
	}
	.video__content {
		height: 400px;
	}
	.footer__menu {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		gap: 40px;
	}
}
@media (max-width: 650px) {
	.tabs__content-item,
	.blog__items {
		grid-template-columns: repeat(1, 1fr);
	}
	.tabs__btn-item {
		font-size: 20px;
	}
	.contacts {
		padding: 50px 0;
	}
	.form__input {
		width: 100%;
		margin-bottom: 30px;
	}
	.contacts__text {
		padding: 0;
	}
}
@media (max-width: 540px) {
	.title {
		font-size: 60px;
	}
	.top__link {
		font-size: 22px;
		max-width: 310px;
	}

	.swiper-pagination-bullet {
		width: 35px;
	}
	.swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
		margin: 0 10px;
	}
	.why-lease {
		padding: 50px 0;
	}
	.why-lease__list {
		grid-template-columns: repeat(1, 1fr);
	}
	.section-title {
		font-size: 34px;
	}
	.how__does-item {
		padding: 65px 0 19px 0;
		margin-right: auto;
	}
	.how__does-item::before {
		right: 0;
		margin: 0 auto;
		width: 50px;
		height: 50px;
		font-size: 32px;
	}
	.how__does-list {
		padding: 30px 40px;
	}
	.how-does {
		padding-bottom: 50px;
	}
	.video {
		padding-bottom: 50px;
	}
	.video__content {
		height: 200px;
	}
	.important__list {
		grid-template-columns: repeat(1, 1fr);
	}
	.blog__item-title {
		margin-bottom: 10px;
	}
	.blog__item-link {
		margin-left: auto;
	}
	.app,
	.copy__nav-list {
		flex-direction: column;
		align-items: center;
		justify-content: center;
	}
	.copy__nav-list {
		gap: 20px;
	}

	.tabs__btn {
		flex-direction: column;
	}
	.choose {
		padding: 50px 0;
	}
	.tabs__content-item {
		gap: 40px;
	}
	.blog {
		padding-bottom: 50px;
	}
}
